.outerDiv {
    background-color: aliceblue;
    display: flex;
    margin: 2vh 15vw;
    padding: 15px 50px;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

}

.img {
    width: 15vw;
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
}

.name {
    text-align: start;
    font-size: 20px;
    font-weight: 700;
}

.desc {
    text-align: center;
    padding: 10px 15px;
    margin: 30px 10px 10px 20px;
}

.paraBlock {
    text-align: left;
}

.detailDiv {
    display: flex;
    justify-content: space-evenly;
    font-weight: 700;
    color: #0b5ed7;
}

span {
    color: black;
    font-weight: 500;
}

.btns {
    display: flex;
    justify-content: space-evenly;
}

.btnInside {
    display: flex;
    align-items: center;
}

.btnInside>svg {
    margin-right: 8px;
}