
.buttonClass{
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.addButton {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 99;
}

.btnText {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 18px;
}


.btnText > svg {
    margin-right: 8px;
  }