.totalLeads {

    background-color: aliceblue;
    /* margin: 30px auto;
    padding: 10px 25px;
    border-radius: 5px; */
    margin: 4vh 10vw;
    padding: 15px 50px;
    border-radius: 15px;
    padding-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

}

.heading {
    position: relative;
}
.heading > h4 {
    margin-bottom: 0;
}

.viewBtn {
    margin: 5px 0;
    position: absolute;
    z-index: 98;
    top: 10px;
    right: 2px;

}

.product {
    margin: 0;
}

.name {
    margin: 0;
}

.listItem {
    font-weight:500;
}