
.outerDiv {
    background-color: aliceblue;
    display: flex;
    margin: 10px 50px;
    padding: 15px 55px;

    border-radius: 15px;
}

.productImg {
    width: 20vw;
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
}

.name {
    font-size: 20px;
    font-weight: 700;
}

.desc {
    text-align: center;
    padding: 10px 15px;
    margin: 30px 10px 10px 20px;
}

.paraBlock {
    text-align: left;
}

.divAligner {
    display: flex;
    justify-content: space-evenly;
    font-weight: 700;
    color: #0b5ed7;
}


.EHeading{
    text-align: center;
}


.listForECom {
    background-color: aliceblue;
    margin: 10px 50px;
    padding: 15px 55px;

    border-radius: 15px;
    display: flex;
    flex-direction: column;
}


.website {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 10px 10vw 10px 10vw;
}


.btnInside {
    display: flex;
    align-items: center;
}

.btnInside > svg {
    margin-right: 8px;
  }
